/* skill.css */

#skills {
  text-align: center;
  padding: 60px 0;
  background-color: #1a1a1a; /* Background color for the skills section */
  color: #fff;
}

.skillTitle {
  font-size: 36px;
  margin-bottom: 20px;
}

.skillDescription {
  font-size: 18px;
  margin-bottom: 30px;
}

.skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 20px;
  background-color: #333; /* Background color for skill items */
  border-radius: 5px;
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

.resumeLink {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007bff; /* Button background color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px; /* Increase the font size to make the button larger */
  transition: background-color 0.3s ease;
}

.resumeLink:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
