/* Common styles for all screen sizes */
#contactPage {
  padding: 4rem 0;
  background-color: black;
  text-align: center;
}

.contactPagetitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 1.5rem;
}

.clientsDescription {
  font-size: 1.2rem;
  color: #ddd;
  margin-bottom: 3rem;
}

.clientImgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.clientImg {
  max-width: 120px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.clientImg:hover {
  filter: none;
}

#contact {
  margin-top: 4rem;
}

.contactPageTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 1rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

.name,
.email,
.msg {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.msg {
  resize: vertical;
}

.submitBtn {
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submitBtn:hover {
  background-color: #27ae60;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.links img {
  max-width: 30px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.links img:hover {
  transform: scale(1.1);
}


.successPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: #fff;
  border: 1px solid #4CAF50;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1001; /* Adjust the z-index value */
}

.successPopup p {
  font-size: 18px;
  margin-bottom: 15px;
}

.successPopup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  z-index: 1002; /* Ensure the button is on top of the popup */
}
/* Responsive Adjustments */
@media (max-width: 768px) {
  .clientImgs {
    flex-direction: column;
    align-items: center;
  }

  .clientImg {
    max-width: 80%;
    margin: 0.5rem auto;
  }

  .contactForm {
    max-width: 100%;
  }

  .contactPageTitle {
    font-size: 1.5rem;
  }

  .contactPagetitle {
    font-size: 2rem;
  }
}
